.tmdbMovieCard {
  background-color: $card-bg-color;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  justify-content: space-between;
  margin: 1em;
  width: 320px;

  &-top {
    padding: 0;
  }

  &-title {
    font-size: 1em;
    padding: 0 0.7em;
    text-align: center;
  }

  &-description {
    font-size: 0.7em;
    padding: 1em 2em;
  }

  &-poster {
    display: block;
    height: auto;
    width: 100%;
  }

  &-bottom {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    justify-content: space-between;
  }

  &-meta {
    font-size: 0.8em;
    color: white;
    padding: 0 1em;
    display: flex;
    justify-content: space-between;
    background-color: $card-meta-bg-color;
  }
}

.tmdbMovieCardDetail {
  background-color: $card-bg-color;
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  justify-content: space-between;
  margin: 5% auto;
  width: 90%;

  > .tmdbMovieCard-bottom {
    flex: 1 1 50%;
  }
}
