.tmdbNavigationBar {
  &-container {
    align-items: center;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0.7em;
    
    
    @include breakpoint(small) {
      margin: 0;
      padding: 0;
      flex-direction: column;
    }
  }
  
  &-item {
    display: inline-block;
    font-size: 0.7em;
    padding-right: 16px;

    @include breakpoint(small) {
      width: 100%;
    }
  }
  
  &-link {
    color: white;
    padding: 16px 2em;
    text-decoration: none;
    transition: padding 0.5s ease;
    
    @include breakpoint(medium) {
      display: block;
      padding: 1.5em;
    }

    &:hover {
      background-color: darken($header-bg-color, 30);
    }
  }
}
