// colors
$text-color: white;
$body-bg-color: #45dff5;
$header-bg-color: #87eaff;
$card-bg-color: #f1f9ff;
$card-text-color: #444444;
$card-meta-bg-color: tomato;

$c-primary: #4c6cd3;
$c-secondary: #27326d;

// font family
$text-font-stack: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
